.text {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

.bold {
  font-weight: 600;
  color: black;
}

.highlight {
  color: $green;
  font-weight: 600;

  &.pink {
    color: $green;
    font-weight: 300;
  }
}

.SectionTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 3rem auto 2rem;
  position: relative;

  @include breakpoint('medium') {
    margin: 6rem auto 4rem;
    font-size: 2.2rem;
  }
}

.Hero {
  width: 100vw;
  height: 80vh;
  background-color: $dark-blue;
  position: relative;
  background-image: url("../../src/images/bg.jpg");
  background-size: cover;
  background-position: center;

  @include breakpoint('medium') {
    height: 100vh;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    @include breakpoint('medium') {
      width: 200px;
      height: 200px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
  }
}

.Hero-inner {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  .text {
    font-size: 1.5rem;

    @include breakpoint('medium') {
      font-size: 2.4rem;
    }
    
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    margin: 2rem auto 0;

    a:not(:last-of-type) {
      margin-right: 1.5rem;
      &:hover svg {
        fill: $green;
      }
    }

    a svg{
      width: 25px;
        height: 25px;

        @include breakpoint('medium') {
          width: 30px;
          height: 30px;
        }
    }

    a:hover svg path {
      fill: $green ;
    }
  }
}

#about {
  background-color: #9ae8d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 3rem;

  @include breakpoint('medium') {
    padding: 0 1rem 6rem;
  }

  .SectionTitle {
    color: black;

  }

  .about-text {
    max-width: 600px;
    text-align: center;
    margin: 0;
    color: black;
  }

  .inner {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
  }
}

#portfolio {
  background-color: white;
  padding: 0 0 3rem;
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint('medium') {
    padding: 0 0 6rem;
  }

  &::before {
    content: '';
    position: absolute;
    border-bottom: 600px solid $green;
    border-right: 100vw solid transparent;
    bottom: 0;
  }

  .SectionTitle {
    color: black;

    &::before {
      background: $dark-blue;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 248px);
    justify-content: center;
    grid-row-gap: 5px;
    @include breakpoint('small') {
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: repeat(5, 248px);
    }

    @include breakpoint('medium') {
      grid-template-columns: repeat(2, 400px);
      grid-template-rows: repeat(5, 248px);
    }

    @include breakpoint('large') {
      grid-gap: 10px;
      grid-template-columns: repeat(3, 400px);
      grid-template-rows: repeat(3, 248px);
    }
  }

  .item {
    overflow: hidden;
    position: relative;
    .img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all .3s;

      &.pepper {
        background-image: url("../../src/images/pepper.png");
      }

      &.parrospace {
        background-image: url("../../src/images/parrospace.png");
      }

      &.myopain {
        background-image: url("../../src/images/myopain.png");
      }

      &.bootcampmap {
        background-image: url("../../src/images/bootcampmap.png");
      }

      &.divbuilder {
        background-image: url("../../src/images/divbuilder.png");
      }

      &.burgerbuilder {
        background-image: url("../../src/images/burgerbuilder.png");
      }

      &.platzivideo {
        background-image: url("../../src/images/platzivideo.png");
      }

      &.rn-jobs {
        background-image: url("../../src/images/rn.png");
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      background: rgba(0, 0, 0, .4);
      transition: all 0.7s;
      z-index: 10;
    }

    .Button {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 30%);
      bottom: -100%;
      transition: all .7s;
      z-index: 11;

      .arrow {
        display: none;
      }
    }

    .project-name {
      z-index: 11;
      color: red;
      position: absolute;
      top: -100%;
      left: 50%;
      width: 80%;
      transform: translate(-50%,-30%);
      transition: all .7s;
      text-align: center;

      .bold {
        color: #0ec595;
      }

      .highlight {
        color: black;
      }
    }

    &:hover{
      &::before {
        opacity: 1;
        background: white;
      }

      .Button {
        transition: all .7s;
        bottom: 10%;
      }

      .project-name {
        top: 30%;
        transition: all .7s;
      }

      .img {
        transform: scale(1.1) rotate(0.01deg);
      }
    }

    
  }

  .item img {
    max-width: 100%;
    margin: 0;
    transition: transform 0.7s;
  }
}

#courses {
  // height: 700px;
  background-color: #01e1ff;
  padding: 0 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .SectionTitle {
    color: $dark-blue;

    &::before {
      background: $dark-blue;
    }
  }
}

#contact {
  // height: 700px;
  background-color: white;
  padding: 0 0 6rem;
  display: flex;
  flex-direction: column;
 
  .inner {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
  }

  .SectionTitle {
    color: black;

    &::before {
      background: white;
    }
  }
}


#skills {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem 3rem;

  @include breakpoint('medium') {
    padding: 0 1rem 6rem;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .tech-item {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    transition: all .3s;
    text-transform: uppercase;
    width: 40%;
    position: relative;
    overflow: hidden;

    @include breakpoint('medium') {
      width: 20%;
      margin: 1rem;
    }

    .tech-name {
      margin-top: 3rem;
      transition: all .3s;
      font-size: 0.8rem;
      text-align: center;

      @include breakpoint('medium') {
        font-size: 1rem;
      }
    }

    .tech-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;

      svg {
        width: 30px;
        height: 30px;

        @include breakpoint('medium') {
          width: 40px;
          height: 40px;
        }
      }
    }

    .tech-score {
      position: absolute;
      top: 0;
      left: 200%;
      transform: translateX(-50%);
      transition: all .3s;
      font-size: 0.8rem;
      @include breakpoint('medium') {
        font-size: 1rem;
      }
    }

    &:hover .tech-icon {
      left: -50%;
    }

    &:hover .tech-score {
      left: 50%;
      color: $green;
      font-weight: 600;
    }

    &:hover .tech-name {
      color: $green;
      font-weight: 600;
    }
  }
}

