@keyframes bounce {
  0%   {transform:translateY(50%)}
  100% {transform:translateY(0)}
}
.text {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

.bold {
  font-weight: 600;
  color: black;
}

.highlight {
  color: $green;
  font-weight: 600;

  &.pink {
    color: $green;
    font-weight: 300;
  }
}

.SectionTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 4rem auto 4rem;
  position: relative;
}

.Hero {
  width: 100vw;
  height: 100vh;
  background-color: $dark-blue;
  position: relative;
  background-image: url("../../src/images/bg.jpg");
  background-size: cover;
  background-position: center;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
  }




  // &::before {
  //   content: '';
  //   position: absolute;
  //   border-bottom: 100vh solid #35356c;
  //   border-left: 100vw solid transparent;
  //   bottom: 0;
  // }
}

.Hero-inner {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  .text {
    font-size: 2.4rem;
  }

  .social-icons {
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    margin: 2rem auto 0;

    a:not(:last-of-type) {
      margin-right: 1.5rem;

      &:hover svg {
        fill: $green;
      }
    }

    a:hover svg path {
      fill: $green ;
    }
  }
}

.Avatar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  width: 200px;
  height: 200px;
}

#about {
  background-color: #9ae8d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 4rem;

  .SectionTitle {
    color: black;

  }

  .about-text {
    max-width: 600px;
    text-align: center;
    margin: 0;
    color: black;
  }

  .inner {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    .text {
      margin: 1rem 0;
      text-align: center;
      max-width: 350px;
      font-weight: 200;
      
    }

    img {
      max-width: 300px;
      max-height: 300px;
      margin: 0;
      border-radius: 50%;
      border: 5px solid white;
    }

    .social-icons {
      display: flex;
      justify-content: space-around;

      a:not(:last-of-type) {
        margin-right: 1.5rem;

        &:hover svg {
          fill: $yellow;
        }
      }

      a:hover svg path {
        fill: $yellow ;
      }
    }
  }
  

  .right-content {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-evenly;

    .tech-item {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-weight: 200;
      font-family: 'Raleway', sans-serif;
      transition: all .3s;
      text-transform: uppercase;
      width: 20%;
      position: relative;
      overflow: hidden;
      .tech-name {
        margin-top: 3rem;
        transition: all .3s;
      }

      .tech-icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s;
      }

      .tech-score {
        position: absolute;
        top: 0;
        left: 200%;
        transform: translateX(-50%);
        transition: all .3s;
      }

      &:hover .tech-icon {
        left: -50%;
      }

      &:hover .tech-score {
        left: 50%;
        color: $yellow;
        font-weight: 600;
      }

      &:hover .tech-name {
        color: $yellow;
        font-weight: 600;
      }
    }
  }
}

#portfolio {
  background-color: white;
  padding: 0 0 4rem;

  display: flex;
  flex-direction: column;

  .SectionTitle {
    color: black;

    &::before {
      background: $dark-blue;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 248px);
    justify-content: center;
  }

  .item {
    overflow: hidden;
    position: relative;

    .img {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all .3s;

      &.pepper {
        background-image: url("../../src/images/pepper.png");
      }

      &.parrospace {
        background-image: url("../../src/images/parrospace.png");
      }

      &.myopain {
        background-image: url("../../src/images/myopain.png");
      }

      &.bootcampmap {
        background-image: url("../../src/images/bootcampmap.png");
      }

      &.divbuilder {
        background-image: url("../../src/images/divbuilder.png");
      }

      &.burgerbuilder {
        background-image: url("../../src/images/burgerbuilder.png");
      }

      &.platzivideo {
        background-image: url("../../src/images/platzivideo.png");
      }

      &.rn-jobs {
        background-image: url("../../src/images/rn.png");
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background: white;
      transition: all 0.7s;
      z-index: 10;
    }

    .Button {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 30%);
      bottom: -100%;
      transition: all .7s;
      z-index: 11;

      .arrow {
        display: none;
      }
    }

    .project-name {
      z-index: 11;
      color: red;
      position: absolute;
      top: -100%;
      left: 50%;
      width: 80%;
      transform: translate(-50%,-30%);
      transition: all .7s;
      text-align: center;

      .bold {
        color: #0ec595;
      }

      .highlight {
        color: black;
      }
    }

    &:hover{
      &::before {
        opacity: 1;
      }

      .Button {
        transition: all .7s;
        bottom: 10%;
      }

      .project-name {
        top: 30%;
        transition: all .7s;
      }

      .img {
        transform: scale(1.1) rotate(0.01deg);
      }
    }

    
  }

  .item img {
    max-width: 100%;
    margin: 0;
    transition: transform 0.7s;
  }
}

#courses {
  // height: 700px;
  background-color: #01e1ff;
  padding: 0 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .SectionTitle {
    color: $dark-blue;

    &::before {
      background: $dark-blue;
    }
  }
}

#contact {
  // height: 700px;
  background-color: black;
  padding: 0 0 4rem;
  display: flex;
  flex-direction: column;
 
  .inner {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
  }

  .SectionTitle {
    color: white;

    &::before {
      background: white;
    }
  }
}


#skills {
 
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem 4rem;

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .tech-item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    transition: all .3s;
    text-transform: uppercase;
    width: 20%;
    position: relative;
    overflow: hidden;

    .tech-name {
      margin-top: 3rem;
      transition: all .3s;
    }

    .tech-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;
    }

    .tech-score {
      position: absolute;
      top: 0;
      left: 200%;
      transform: translateX(-50%);
      transition: all .3s;
    }

    &:hover .tech-icon {
      left: -50%;
    }

    &:hover .tech-score {
      left: 50%;
      color: $green;
      font-weight: 600;
    }

    &:hover .tech-name {
      color: $green;
      font-weight: 600;
    }
  }
}

