.TextArea {
    width: 100%;
    margin-bottom: 2rem;
    textarea {
        width: 100%;
        font-family: 'Raleway', sans-serif;
        color: black;
        font-size: 1.25rem;
        background: transparent;
        border: none;
        border-bottom: 1px solid $green;
        padding-bottom: .7rem;
        outline: none;
        resize: none;

        &::placeholder {
            text-transform: capitalize;
        }
    }
}